<h2>Update yer Dino Info</h2>

<form action="/dinosaurs/<%= id%>/?_method=PUT" method="POST">
    <label for="dinosaurType">Type</label>
    <input type="text" name="type" value="<%= dino.type %>">

    <label for="dinosaurName">Name</label>
    <input type="text" name="name" value="<%= dino.name %>">
    <input type="submit" value="UPDATE MY DINO">
</form>
<br>
<a href="/dinosaurs/<%= id%>">&larr; Back</a>