<h2>Gimme yer Dino Info</h2>

<form action="/dinosaurs" method="POST">
    <label for="dinosaurType">Type</label>
    <input type="text" name="type">

    <label for="dinosaurName">Name</label>
    <input type="text" name="name">
    <input type="submit" value="MAKE MY DINO">
</form>